[submodule "deps/readies"]
	path = deps/readies
	url = https://github.com/redislabsmodules/readies
[submodule "c/deps/threadpool"]
	path = c/deps/threadpool
	url = https://github.com/Pithikos/C-Thread-Pool.git
[submodule "c/deps/RedisModulesSDK"]
	path = c/deps/RedisModulesSDK
	url = https://github.com/RedisLabsModules/RedisModulesSDK.git
[submodule "c++/deps/gemma"]
	path = c++/deps/gemma
	url = https://github.com/google/gemma.cpp.git
[submodule "c/deps/cjson"]
	path = c/deps/cjson
	url = https://github.com/DaveGamble/cJSON.git
